@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap");

* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_01: #ff5400;
  --color_02: #ffffff;
}

.hide {
  display: none;
}

header {
  width: 100%;
  background-color: white;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 20px;
  margin-left: 2rem;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
  text-align: center;

  justify-content: center;
}

#check {
  display: none;
}

.icon {
  position: absolute;
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
  display: none;
}

.banner {
  background-image: linear-gradient(180deg, #131318, #13131800),
    url("../Images/banner.png");
  margin: 30px 200px;
  border-radius: 20px;
  padding: 100px 200px;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)#131318, #13131800 */

.banner-content {
  width: 680px;
  text-align: center;
}

.banner-title {
  font-size: 64px;
  font-weight: 800;
  color: var(--color_02);
  margin-bottom: 20px;
}
.banner-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--color_02);
  line-height: 26px;
  margin-bottom: 40px;
}
.banner-form {
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.3);
}
.form {
  display: flex;
  padding: 15px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  & .element {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 15px;
  }
  & .element:last-child {
    background-color: var(--color_01);
    color: var(--color_02);
    font-weight: 700;
  }
}

/* section-1 start */

.section-1 {
  height: 600px;
  display: flex;
  margin: 150px 200px;
  padding: 20px 40px;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.section-1-left {
  width: 50%;
}
.section-1-left-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.section-1-left-list {
  margin-left: 50px;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
  & li {
    margin-bottom: 13px;
  }
}

.section-1-left-para {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
}

.btn-primary {
  width: 180px;
  height: 50px;
  border: none;
  background-color: var(--color_01);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 800;
  color: var(--color_02);
  margin-top: 15px;
}

.section-1-right {
  width: 50%;
  height: 100%;
}

/* section-1 end */

/* section-2 start */

.section-2,
.section-3 {
  margin: 75px 180px;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2-content,
.section-3-content {
  width: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-2-title,
.section-3-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.section-2-description,
.section-3-description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.section-2-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  height: 300px;
  display: flex;
  gap: 20px;
}
.row img {
  height: 100%;
  width: 100%;
}
#img-1 {
  position: relative;
  flex-basis: 50%;
}
#img-2 {
  position: relative;
  flex-basis: 50%;
}

#img-3 {
  position: relative;
  flex-grow: 1.5;
}

#img-4 {
  position: relative;
  flex-grow: 3.5;
}

#img-5 {
  position: relative;
  flex-grow: 1;
}
#img-7 {
  position: relative;
  flex-grow: 4;
}

#img-6 {
  position: relative;
  flex-grow: 2;
}
.place {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: 800;
  color: var(--color_02);
}

/* section-3 start */

.section-3-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card {
  width: 575px;
  height: auto;
  padding: 42px;
  border-radius: 16px;
  & h2 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  & p {
    font-size: 18px;
    font-weight: 400;
  }
}
.card-icon {
  font-size: 65px;
  margin-bottom: 20px;
}

.card:nth-child(1) {
  background-color: #fbb5630d;
  border: 1px solid #fbb56333;
}
.card:nth-child(2) {
  background-color: #29cef60d;
  border: 1px solid #29cef633;
}
.card:nth-child(3) {
  background-color: #e944440d;
  border: 1px solid #e9444433;
}

/* section-4 start */

.section-4 {
  width: 1170;
  /* height: 600px; */
  margin: 125px 180px;
  padding: 30px 60px;
  display: flex;
  gap: 40px;
}

.section-4-left {
  width: 40%;
  border: 1px solid var(--color_01);
  border-radius: 20px;
  padding: 80px;
}

.section-4-right {
  position: relative;
  width: 60%;
  & img {
    width: 100%;
    height: 100%;
  }
  & h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 324px;
    height: 120px;
    background-color: #ff5400;
    position: absolute;
    top: 63%;
    right: 2%;
    font-size: 32px;
    font-weight: 800;
    color: white;
    border-radius: 15px;
    rotate: -30deg;
    & #web {
      font-size: 24px;
      font-weight: 400;
    }
  }
}

.section-4-left-part-01 {
  & h2 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
  }
  & p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
  }
}
.section-4-left-part-02 {
  margin-top: 20px;
  & input {
    width: 100%;
    margin-top: 24px;
    height: 52px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #1313180d;
    padding: 15px;
  }
  & input[type="submit"] {
    background-color: #ff5400;
    color: white;
    font-size: 20px;
    font-weight: 800;
  }
}

/* footer section start */
footer {
  background-color: #1313180d;
  padding: 80px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.foot-title {
  display: flex;
  gap: 25px;
  align-self: center;
  margin-bottom: 15px;
}

.foot-para {
  width: 760px;
  text-align: center;
  align-self: center;
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 400;
}

.social-icon {
  display: flex;
  gap: 30px;
  align-self: center;
  margin-bottom: 50px;
  & i {
    font-size: 30px;
  }
}

.copyright {
  margin-top: 50px;
  margin-bottom: 50px;
  align-self: center;
}

.pricing {
  width: 1170;
  height: 760px;
  margin: 125px 180px;
  padding: 30px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pricing-intro {
  margin-bottom: 10px;
  text-align: center;
}
.pricing-description {
  margin: 10px 120px 10px 120px;
  font-size: 18px;
  font-weight: 400;
}
.princing-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
  gap: 30px;
}
.price-card {
  border: 1px solid red;
  width: 100%;
  height: 60%;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  & li {
    list-style-type: none;
    text-align: left;
    margin: 10px 30px;
    font-size: 18px;
    font-weight: 400;
  }
  & .card-price {
    font-size: 28px;
    margin-bottom: 10px;
  }
  & .card-title {
    color: rgb(211, 155, 14);
    margin-bottom: 15px;
  }
}

.bullet-txt,
.best-bullet-txt {
  display: flex;
  align-items: center;
}
.bullet {
  font-size: 32px;
  margin-right: 10px;
}
.best-bullet {
  font-size: 38px;
  margin-right: 10px;
}

.best-card {
  height: 80%;
  & li {
    list-style-type: none;
    text-align: left;
    margin: 15px 50px;
    font-size: 22px;
    font-weight: 400;
  }
  & .card-price {
    margin-bottom: 30px;
    font-size: 42px;
  }
  & .card-title {
    font-size: 64px;
    color: rgb(211, 155, 14);
    margin-bottom: 15px;
  }
}

.card-btn {
  width: 60%;
  height: 60px;
  border-radius: 40px;
  border: none;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #29cdf641;
}

.card-btn-best {
  background-color: #f6299048;
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .banner , .section-1, .section-2, .section-3, .pricing, .section-4 {
    margin: 30px 50px;
    padding: 10px 15px;
    height: auto;
  }
  .logo {
    font-size: 1.5rem;
  }
  .navbar a {
    margin-left: 1rem;
  }
  .banner-form {
    margin-bottom: 50px;
  }
  .section-4-left {
    padding: 40px;
  }
  .section-4-right {
    text-align: center;

    & h4 {
      width: 25%;
      height: 30%;
      font-size: 22px;
      right: 5%;
      & #web {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  header {
    padding: 1.3rem 5%;
    position: fixed;
    top: 0;
  }
  .icon {
    right: 5%;
    display: inline-flex;
  }

  #check:checked ~ .icon #menu-icon {
    display: none;
  }
  .icon #close-icon {
    display: none;
  }
  #check:checked ~ .icon #close-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: white;
    transition: 0.3s ease;
    overflow: hidden;
  }
  #check:checked ~ .navbar {
    height: 17.7rem;
  }
  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease;
  }
  #check:checked ~ .navbar a {
    transform: translateY(0px);
    transition-delay: calc(0.15s * var(--i));
  }
  .banner {
    margin: 120px 20px;
    padding: 150px 50px;
  }
  .banner-content {
    width: auto;
  }
  .banner-form > form {
    flex-direction: column;
    & .element {
      width: 100%;
      padding: 15px;
      margin-top: 10px;
    }
  }
  .section-1 {
    flex-direction: column;
    height: auto;
    margin: 20px 30px;
    & .section-1-left,
    .section-1-right {
      width: 100%;
    }
  }
  .section-1-right {
    width: 50%;
    height: 50%;
  }

  .section-2,
  .section-3,
  .pricing,
  .section-4 {
    margin: 15px 25px;
    padding: 10px 15px;
    width: auto;
    height: auto;
  }
  .row {
    flex-direction: column;
    flex: 1;
    & img {
      width: 100%;
    }
  }
  .section-2-content,
  .section-3-content,
  .foot-para {
    width: auto;
    margin: 20px 40px;
  }
  .pricing-description {
    margin: 15px;
  }

  .princing-content {
    flex-direction: column;
  }
  .card {
    width: auto;
  }
  .section-4 {
    flex-direction: column;
  }
  .section-4-left,
  .section-4-right {
    width: 100%;
  }
  .section-4-left {
    padding: 20px;
  }
  .section-4-right {
    h4 {
      width: 40%;
      height: 20%;
      font-size: 26px;
      & #web {
        font-size: 16px;
      }
    }
  }
  footer {
    margin: 15px 25px;
    padding: 30px 35px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 1.5rem;
  }
  .section-1 {
    margin: 10px;
  }
  .pricing {
    margin: 30px 20px;
  }
  .section-4-right {
    h4 {
      width: 40%;
      height: 20%;
      font-size: 10px;
      & #web {
        font-size: 8px;
      }
    }
  }
  .bullet,
  .best-bullet {
    font-size: 1rem;
  }
  .best-card li {
    margin: 10px 30px;
    font-size: 18px;
  }
}
